################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Learning/FileContentIndex/ec350ab8-da38-4249-8589-d99357229cba.vsidx
/.vs/Learning/v17/.wsuo
/.vs/Learning/FileContentIndex/c0b9e963-738c-44fe-a88a-4eda1236b715.vsidx
/.vs/Learning/FileContentIndex/a8959a16-aada-4f5d-95b3-853633b32339.vsidx
/.vs/Learning/FileContentIndex/948156f3-79b4-4fd7-986e-dd43a71f8c91.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
